/*a:link {text-decoration: none; color: rgb(168,231,47);}
a:visited {text-decoration: none; color: rgb(118, 181, 0);}*/
a:link {text-decoration: none; color: rgb(105,218,239);}
a:visited {text-decoration: none; color: rgb(75,188,209);}
a:active {text-decoration: none}
a:hover {text-decoration: none; color: rgb(246,18,114);}

body {
  /*font-family: 'Droid Sans Mono', sans-serif;*/
  font-family: 'Oxygen Mono', monospace, sans-serif;
  font-size: 22px;
  line-height: 1.4;
  color: rgb(143,144,138);
}

#container {
  margin: 33px;
}

.bracket {
  color: rgb(39,40,34);
}

/*.curly {
  font-size: 48px;
  font-weight: bold;
}*/

.value {
  color: rgb(39,40,34);
}

.keyword {
  color: rgb(105,218,239);
}

.indent-l1:before {
  content: "\0000a0";
}

.indent-l2:before {
  content: "\0000a0\0000a0\0000a0";
}

.indent-close-l2:before {
  content: "\0000a0\0000a0";
}

.key:before, .value:before {
  content: "\"";
  color: rgb(143,144,138);
}

 .key:after {
  content: "\":";
  color: rgb(143,144,138);
 }

.value:after {
 content: "\",";
 color: rgb(143,144,138);
}

.value.last:after {
  content: "\"";
}

.value.number:after,
.value.classname:after,
.value.link:after {
  content: ",";
  color: rgb(143,144,138);
}

.value.number:before, .value.number.last:before,
.value.classname:before, .value.classname.last:before,
.value.link:before, .value.link:before {
 content: "";
}