.canvas {
	margin-top: 65px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 10;
	height: 100%;
	font-family: 'Cabin', sans-serif;
}

#text {
	display: inline;
/*	float: left;*/
}

#text .brand {
	font-size: 98px;
	font-weight: 500;
	margin-bottom: 85px;
}

#text p {
	font-weight: 400;
  font-size: 28px;
	margin-bottom: 20px;
}


/*
#text p:before {
    content: "\279C";
	margin-right: 16px;
	color: #FFCC00;
	font-size: 16px;
	text-align: middle;
}*/


#picture {
	display: inline;
	position: absolute;
	top: 50px;
	right: 100px;
	width: 512px;
	height: 672px;
  z-index: -1;
  background-color: white;
	background-image: url("../images/picture.jpg");
  background-repeat: no-repeat;
	background-position: center top, 0 0;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}

#footer {
	bottom: 0;
	margin: 210px 0px 20px 0px;
}



#contacts {
	display: block;
	padding-bottom : 0px;
	margin-bottom: 0px;
}

#contacts .icon {
	background-color: white;
    background-repeat: no-repeat;
	background-position: center top, 0 0;
	-o-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}

.icon {
	width: 42px;
	height: 42px;
	margin: 0px 16px 0px 0px;
	float: left;
}

#gmail {
	background-image: url("../images/contact_icons_bw/Gmail.png");
}

#twitter {
	background-image: url("../images/contact_icons_bw/twitter.png");
}

#facebook {
	background-image: url("../images/contact_icons_bw/facebook.png");
}

#linkedin {
	background-image: url("../images/contact_icons_bw/linkedin.png");
}

.icon.over {
    -webkit-animation: vibrate 85ms linear 20 alternate;
    -moz-animation: vibrate 85ms linear 20 alternate;
    -o-animation: vibrate 85ms linear 20 alternate;
    animation: vibrate 85ms linear 20 alternate;
}

.icon.out {
    -webkit-animation: vibrate 85ms ease-out 15 alternate;
    -moz-animation: vibrate 85ms ease-out 15 alternate;
    -o-animation: vibrate 85ms ease-out 15 alternate;
    animation: vibrate 85ms ease-out 15 alternate;
}

@-webkit-keyframes vibrate{
    0%   { -webkit-transform: rotate(0deg); }
    25%  { -webkit-transform: rotate(-10deg); }
    75%  { -webkit-transform: rotate(+10deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@-moz-keyframes vibrate{
    0%   { -moz-transform: rotate(0deg); }
    25%  { -moz-transform: rotate(-10deg); }
    75%  { -moz-transform: rotate(+10deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-o-keyframes vibrate{
    0%   { -o-transform: rotate(0deg); }
    25%  { -o-transform: rotate(-10deg); }
    75%  { -o-transform: rotate(+10deg); }
    100% { -o-transform: rotate(0deg); }
}
@keyframes vibrate{
    0%   { transform: rotate(0deg); }
    25%  { transform: rotate(-10deg); }
    75%  { transform: rotate(+10deg); }
    100% { transform: rotate(0deg); }
}